*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height: 90vh;
    background-color: blue;
}

.box{
    height: 150px;
    width:150px; 
    border-width: 10px;
    border-color: green;
    border-style: solid;

    outline-width: 10px;
    outline-color: red;
    outline-style: solid;

    background-color: yellow;
}
