/* h1{
    background-color: springgreen !important;
} */
/* Element selector */

/* Id selector */

/* Generic class selector */

/* Normal class selector */
/* p.good-para{
    background-color: rgb(26, 237, 26);
    color: white; 
}
.bad-para{
    background-color: rgb(157, 0, 0);
    color: white; 
}

#unique-para{
    color: white;
    background-color: tomato;
} */

/* Universal selector */

/* *{
    font-family: "Lobster", sans-serif;
} */

/* Attribute selector */
input[type]{
    background-color: black;
    color: white; 
}

/* Attribute value selector */
input[type="password"]{
    background-color: black;
    color: white; 
}